@use 'base';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:  base.$light-bg;
    color: base.$text-dark;

    p {
        font-size: 1.2em
    }
}

header {
    @include center;
    justify-content: space-between;
    padding: 1em;
    background: base.$primary;
    color: white;

    &:hover {
        background: darken(base.$primary, 10%);
    }
}

.logo img {
    width: 22em;
    height: auto;
    margin-right: auto;
}

main {
    padding: 20px;
}

#introduction {
    display: flex;
    gap: 6em;

    p {
        max-width: 40em;
        font-size: 1.3em;
    }
}

nav {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 3.5em;
        margin-right: 2em;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        
        &:hover {
            background: darken(base.$primary, 15%);
            padding: 6px 10px;
            border-radius: 6px;
        }
    }
    
}

h1 {
    font-size: 2.5em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 2em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

%card {
    background: white;
    padding: 1.2em;
    margin: 1em 0;
    border-radius: 5px;
    max-width: 50em;
    border: 2px solid lighten(base.$primary, 20%)
}


@media (prefers-color-scheme: dark) {
    body {
        background: base.$dark-bg;
        color: base.$text-light;
    }

    %card {
        background: rgb(44, 44, 44);
        color: base.$text-light;
    }
}


$rounded: true;
article {
    @extend %card;
    @if $rounded {
        border-radius: 12px;
    }@else {
        border-radius: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

#bossar {
    display: flex;
    gap: 2em;

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.boss-pic {
    max-width: 4.5em;
    height: auto;
}

.boss-text {
    display: flex;
    flex-direction: column;
}

.item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.player img {
    max-width: 20em;
    height: auto;
}

#biomes li {
    margin-bottom: 0.8em;
}


footer {
    margin: 1em;
}

.sass-main {
    display: flex;
    flex-direction: column;
    max-width: 55%;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        font-size: 1.1em;
    }
}

@media (max-width: 1200px) {
    #introduction {
        flex-direction: column;
        gap: 2em;
    }

    #bossar {
        flex-direction: column;
    }

    .item-box {
        flex-direction: column;
        align-items: flex-start;
    }

    img {
        max-width: 100%;
    }

    .player img {
        max-width: 15em;
    }

    nav ul {
        gap: 15px;
        margin-top: 2em;
    }

    .sass-main {
        max-width: 100%;

        h1, h2 {
            font-size: 1.6em;
        }
    }
}

@media (max-width: 700px) {

    #introduction {
        flex-direction: column;
    }

    #bossar {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 8px;
    }

    .logo img  {
        max-width: 13em;
    }
}